<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">

    <!-- Page Title -->
    <title>براکستون - قالب HTML پرتفولیو شخصی و رزومه</title>


    <!-- Meta Tags -->
    <meta name="description"
          content="Show yourself brightly with Braxton - unique and creative portfolio and resume template!">
    <meta name="keywords"
          content="mix_design, resume, portfolio, personal page, cv, template, one page, responsive, html5, css3, creative, clean">
    <meta name="author" content="mix_design">

    <!-- Viewport Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Favicon & Icons Start -->
    <link rel="icon" href="/static/site/img/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/static/site/img/favicon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/site/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/static/site/img/favicon/manifest.webmanifest">
    <!-- Template Favicon & Icons End -->

    <!-- Facebook Metadata Start -->
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:title" content="Braxton - Personal Portfolio & Resume HTML Template">
    <meta property="og:description"
          content="Show yourself brightly with Braxton - unique and creative portfolio and resume template!">
    <meta property="og:url" content="https://mixdesign.club/themeforest/braxton">
    <meta property="og:image"
          content="https://mixdesign.club/themeforest/braxton//static/site/img/favicon/og-image.jpg">
    <!-- Facebook Metadata End -->

    <!-- Template Styles Start -->
    <link rel="stylesheet" href="/static/site/css/loaders/loader.css">
    <link rel="stylesheet" type="text/css" href="/static/site/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/static/site/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/site/css/font.css">
    <!-- Template Styles End -->

    <!-- Custom Browser Color Start -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#dcdce7">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111">
    <meta name="msapplication-navbutton-color" content="#111111">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Custom Browser Color End -->
</head>

<body>
{% block content %}{% endblock %}


<!-- Header Start -->
<header id="header" class="header d-flex justify-content-between">

    <!-- Navigation Menu Start -->
    <div class="header__navigation">
        <nav id="menu" class="menu">
            <ul class="menu__list d-flex justify-content-start">
                <li class="menu__item">
                    <a class="menu__link btn" href="#home">
                        <span class="menu__caption">خانه</span>
                        <i class="ph-bold ph-house-simple"></i>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link btn" href="#portfolio">
                        <span class="menu__caption">نمونه کارها</span>
                        <i class="ph-bold ph-squares-four"></i>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link btn" href="#about">
                        <span class="menu__caption">درباره من</span>
                        <i class="ph-bold ph-user"></i>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link btn" href="#resume">
                        <span class="menu__caption">رزومه</span>
                        <i class="ph-bold ph-article"></i>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link btn" href="#contact">
                        <span class="menu__caption">تماس با من</span>
                        <i class="ph-bold ph-envelope"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Navigation Menu End -->


    <!-- Header Controls Start -->
    <div class="header__controls d-flex justify-content-end">
        <button id="color-switcher" class="color-switcher header__switcher btn" type="button" role="switch"
                aria-label="light/dark mode" aria-checked="true"></button>
        <a id="notify-trigger" class="header__trigger btn"
           href="mailto:example@example.com?subject=Message%20from%20your%20site">
            <span class="trigger__caption">ارتباط با من</span>
            <i class="ph-bold ph-chat-dots"></i>
        </a>
    </div>
    <!-- Header Controls End -->

</header>
<!-- Header End -->



<!-- Load Scripts Start -->
<script src="/static/site/js/libs.min.js"></script>
<script>
    const randomX = random(-400, 400);
    const randomY = random(-200, 200);
    const randomDelay = random(0, 50);
    const randomTime = random(20, 40);
    const randomTime2 = random(5, 12);
    const randomAngle = random(-30, 150);

    const blurs = gsap.utils.toArray(".blur");
    blurs.forEach((blur) => {
        gsap.set(blur, {
            x: randomX(-1),
            y: randomX(1),
            rotation: randomAngle(-1)
        });

        moveX(blur, 1);
        moveY(blur, -1);
        rotate(blur, 1);
    });

    function rotate(target, direction) {
        gsap.to(target, randomTime2(), {
            rotation: randomAngle(direction),
            ease: Sine.easeInOut,
            onComplete: rotate,
            onCompleteParams: [target, direction * -1]
        });
    }

    function moveX(target, direction) {
        gsap.to(target, randomTime(), {
            x: randomX(direction),
            ease: Sine.easeInOut,
            onComplete: moveX,
            onCompleteParams: [target, direction * -1]
        });
    }

    function moveY(target, direction) {
        gsap.to(target, randomTime(), {
            y: randomY(direction),
            ease: Sine.easeInOut,
            onComplete: moveY,
            onCompleteParams: [target, direction * -1]
        });
    }

    function random(min, max) {
        const delta = max - min;
        return (direction = 1) => (min + delta * Math.random()) * direction;
    }
</script>
<script src="/static/site/js/app.js"></script>
<script src="/static/site/js/gallery-init.js"></script>
<!-- Load Scripts End -->

</body>

</html>